<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block head %}
    <title>Tech Test - Javier</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a
          class="navbar-brand navbar-custom"
          href="https://github.com/ingjavierpinilla/FollowUp"
          >Tech test Javier [GIT]
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-7 text-center">
          <br />
          <br />
          <h2>Hola,</h2>
          <h4>gracias por tomar el tiempo de revisar mi test tecnico.</h4>
          <br />
          <h6>
            Este es el landing page del API, a continuacion encontraras la
            documentacion de la misma:
          </h6>
          <div class="accordion text-left" id="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  Consolidado de venta mensual por sucursal
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body text-left">
                  <p>
                    Recibe el ID de la sucursal de la cual se desea la
                    informacion, retorna un json con la suma de las ventas por
                    mes con la fecha en formato ISO 8601 sin incluir la hora,
                    minutos y segundos
                  </p>
                  <ul>
                    <li>
                      <p><strong>URL</strong></p>
                      <p>/api/sucursal/&ltid&gt</p>
                    </li>
                    <li>
                      <p><strong>Method:</strong></p>
                      <p><code>GET</code></p>
                    </li>
                    <li>
                      <p><strong>URL Params</strong></p>
                      <p><strong>Required:</strong></p>
                      <p><code>id=[integer]</code></p>
                    </li>
                    <li>
                      <p><strong>Success Response:</strong></p>
                      <ul>
                        <li><strong>Code:</strong> 200 <br /></li>
                        <li>
                          <strong>Content:</strong>
                          <code
                            ><br />[<br />{&quot;mes&quot;:
                            &quot;2021-01-01T00:00:00Z&quot;,<br />
                            &quot;valor_venta&quot;: 40.0 } <br />{
                            &quot;mes&quot;:
                            &quot;2021-02-01T00:00:00Z&quot;,<br />
                            &quot;valor_venta&quot;: 60.0 }<br />]</code
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p><strong>Error Response:</strong></p>
                      <ul>
                        <li><strong>Code:</strong> 401 UNAUTHORIZED <br /></li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 400 BAD REQUEST<br />
                          <strong>Content:</strong>
                          <code>{&#39;ID invalido.&#39;}</code>
                        </li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 204 NO CONTENT<br />
                          <strong>Content:</strong>
                          <code>{&#39;Cinta &ltid&gt no encontrada.&#39;}</code>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed text-left"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Detalle de venta diario, con sucursal, cantidad de cintas
                  alquiladas y valor discriminado de venta
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    Recibe una fecha en formato ISO 8601 sin incluir la hora,
                    minutos y segundos i.e. 2010-12-16
                  </p>
                  <p>
                    Retorna un JSON con codigo_sucursal, cintas_alquiladas y
                    valor_venta. Ordenado por el codigo de sucursal
                  </p>
                  <ul>
                    <li>
                      <p><strong>URL</strong></p>
                      <p>/api/venta/?fecha</p>
                    </li>
                    <li>
                      <p><strong>Method:</strong></p>
                      <p><code>GET</code></p>
                    </li>
                    <li>
                      <p><strong>URL Params</strong></p>
                      <p><strong>Required:</strong></p>
                      <p>
                        <code
                          >fecha=[string] fecha en formato ISO 8601 i.e.
                          2010-12-16</code
                        >
                      </p>
                    </li>
                    <li>
                      <p><strong>Success Response:</strong></p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 200 <br />
                          <strong>Content:</strong>
                          <code
                            ><br />[ <br />{ &quot;codigo_sucursal&quot;: 1,<br />
                            &quot;cintas_alquiladas&quot;: 2,<br />
                            &quot;valor_venta&quot;: 40.0 }, <br />{
                            &quot;codigo_sucursal&quot;: 2,<br />
                            &quot;cintas_alquiladas&quot;: 1,<br />
                            &quot;valor_venta&quot;: 20.0 } <br />]</code
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p><strong>Error Response:</strong></p>
                      <ul>
                        <li><strong>Code:</strong> 401 UNAUTHORIZED <br /></li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 400 NOT FOUND<br />
                          <strong>Content:</strong>
                          <code>{&#39;Fecha no valida&#39;}</code>
                        </li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 204 NO CONTENT<br />
                          <strong>Content:</strong>
                          <code
                            >{&#39;Sin informacion para la fecha
                            requerida.&#39;}</code
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Películas disponibles para alquiler
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <p><strong>URL</strong></p>
                      <p>/api/cinta/?disponible=true</p>
                    </li>
                    <li>
                      <p><strong>Method:</strong></p>
                      <p><code>GET</code></p>
                    </li>
                    <li>
                      <p><strong>URL Params</strong></p>
                      <p><strong>Required:</strong></p>
                      <p><code>None</code></p>
                    </li>
                    <li>
                      <p><strong>Success Response:</strong></p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 200 <br />
                          <strong>Content:</strong>
                          <code
                            >[ <br />{ &quot;id&quot;: 1,
                            <br />&quot;titulo&quot;: &quot;titulo1&quot;,
                            <br />&quot;valor&quot;: 10.0,<br />
                            &quot;disponible&quot;: true }, <br />{
                            &quot;id&quot;: 2,<br />
                            &quot;titulo&quot;: &quot;titulo2&quot;,
                            &quot;valor&quot;: 20.0,<br />
                            &quot;disponible&quot;: true }, <br />{
                            &quot;id&quot;: 3,<br />
                            &quot;titulo&quot;: &quot;titulo3&quot;,<br />
                            &quot;valor&quot;: 30.0,<br />
                            &quot;disponible&quot;: true } <br />]</code
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p><strong>Error Response:</strong></p>
                      <ul>
                        <li><strong>Code:</strong> 401 UNAUTHORIZED <br /></li>
                        <li><strong>Code:</strong> 400 BAD REQUEST <br /></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed text-left"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Sucursal que más películas ha alquilado entre un rango de
                  fechas
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    Recibe dos fechas (de, hasta) en formato ISO 8601 sin
                    incluir la hora, minutos y segundos i.e. 2010-12-16
                  </p>
                  <p>
                    Retorna un JSON con codigo_sucursal, codigo_sucursal__nombre
                    y valor_venta. Ordenado por el codigo de sucursal
                  </p>
                  <ul>
                    <li>
                      <p><strong>URL</strong></p>
                      <p>/api/venta/?de&amp;hasta</p>
                    </li>
                    <li>
                      <p><strong>Method:</strong></p>
                      <p><code>GET</code></p>
                    </li>
                    <li>
                      <p><strong>URL Params</strong></p>
                      <p><strong>Required:</strong></p>
                      <p>
                        <code
                          >de=[string] fecha en formato ISO 8601 i.e.
                          2010-12-16</code
                        >
                        <code
                          >hasta=[string] fecha en formato ISO 8601 i.e.
                          2010-12-16</code
                        >
                      </p>
                    </li>
                    <li>
                      <p><strong>Success Response:</strong></p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 200 <br />
                          <strong>Content:</strong>
                          <code
                            ><br />[<br />{ &quot;codigo_sucursal&quot;: 1,<br />
                            &quot;codigo_sucursal__nombre&quot;:
                            &quot;s1&quot;,<br />
                            &quot;valor_venta&quot;: 40.0 }<br />]</code
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p><strong>Error Response:</strong></p>
                      <ul>
                        <li><strong>Code:</strong> 401 UNAUTHORIZED <br /></li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 400 BAD REQUEST<br />
                          <strong>Content:</strong>
                          <code>{&#39;Fecha no valida&#39;}</code>
                        </li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 400 BAD REQUEST<br />
                          <strong>Content:</strong>
                          <code
                            >{&#39;Hasta&#39; ocurre antes que
                            &#39;de&#39;}</code
                          >
                        </li>
                      </ul>
                      <p>OR</p>
                      <ul>
                        <li>
                          <strong>Code:</strong> 204 NO CONTENT<br />
                          <strong>Content:</strong>
                          <code
                            >{&#39;Sin informacion para la fecha
                            requerida.&#39;}</code
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    body {
      padding-top: 60px;
    }
    @media screen and (max-width: 767px) {
      body {
        padding-top: 60px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      body {
        padding-top: 110px;
      }
    }
    @media screen and (min-width: 992px) {
      body {
        padding-top: 60px;
      }
    }
  </style>
</html>
